@model EntityLayer.Concrete.CompanyBalance
@{
    ViewData["Title"] = "EditCompanyBalance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form class="form-group" method="post" enctype="multipart/form-data">

    <div class="row">
        <div class="col-12 col-sm-12">

            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Firma Bilgileri</h3>
                </div>
                <div class="card-body">
                    <!-- Date dd/mm/yyyy -->
                    <div class="form-group">
                        @*<label>Firma ID:</label>*@

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-laptop"></i></span>
                            </div>
                            @Html.HiddenFor(x => x.CompanyBalanceID)

                        </div>
                        <!-- /.input group -->
                    </div>
                    <div class="form-group">
                        <label>Firma Adı:</label>

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-laptop"></i></span>
                            </div>
                            @Html.DropDownListFor(x => x.CompanyId, (List<SelectListItem>)ViewBag.cv, new { @class = "form-control" })
                        </div>

                        <!-- /.input group -->
                    </div>
                    <div class="form-group">
                        <label>İşlem Tarihi:</label>

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-laptop"></i></span>
                            </div>
                            @Html.TextBoxFor(x => x.DateTime, new { @class = "form-control"})

                        </div>
                        <!-- /.input group -->
                    </div>
                    <!--<div class="form-group">
                    <div class="input-group">
                        <label>Dekont Belge Yükle:</label>
                        <input type="file" name="DocumentPhoto" multiple class="form-control" />
                    </div>-->
                    <!-- /.input group -->
                    <!--</div>-->
                    <!-- phone mask -->
                    <div class="form-group">
                        <label>Tahakkuk Miktarı:</label>

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-book"></i></span>
                            </div>
                            @Html.TextBoxFor(x => x.Amount, new { @class = "form-control" })

                        </div>
                        <!-- /.input group -->
                    </div>
                    <div class="form-group">
                        <label>Hafriyat Adresi:</label>

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-book"></i></span>
                            </div>
                            @Html.TextBoxFor(x => x.District, new { @class = "form-control" })

                        </div>
                        <!-- /.input group -->
                    </div>
                    <div class="form-group">
                        <label>Ada:</label>

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-book"></i></span>
                            </div>
                            @Html.TextBoxFor(x => x.Island, new { @class = "form-control" })

                        </div>
                        <!-- /.input group -->
                    </div>
                    <div class="form-group">
                        <label>Parsel:</label>

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-book"></i></span>
                            </div>
                            @Html.TextBoxFor(x => x.Parcel, new { @class = "form-control" })

                        </div>
                        <!-- /.input group -->
                    </div>
                    <div class="form-group">
                        <label>Açıklama:</label>

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-book"></i></span>
                            </div>
                            @Html.TextBoxFor(x => x.FillArea, new { @class = "form-control" })

                        </div>
                        <!-- /.input group -->
                    </div>


                    <!-- /.form group -->
                    <!-- phone mask -->
                    <div class="form-group">
                        <label>Araç Miktarı:</label>

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-calculator"></i></span>
                            </div>
                            @Html.TextBoxFor(x => x.miktar, new { @class = "form-control" })

                        </div>
                        <!-- /.input group -->
                    </div>



                    <!-- /.col --> <button class="btn btn-info" style="margin-left:600px;"> + Firmayı Kaydet</button>
                </div>

</form>
<!-- /.row -->




<br />
<br />





