@using EntityLayer.Concrete
@model IEnumerable<AltyapıIsler>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card  card-warning card-outline">
    <div class="card-header">
        <h3 class="card-title" style="color:blue"><b>ALT YAPI İŞ LİSTESİ</b>  <a href="/Altyapı/AddAltyapı" class="badge btn-success" style="margin-left:900px;font-size:18px;"> +Altyapı iş Ekle</a></h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body card  card-warning card-outline">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Firma Adı</th>
                    <th>İşin Adı</th>
                    @*<th>Proje Adı</th>*@
                    <th>Yer Teslim Tarihi </th>

                    <th>Öngörülen Bitiş Tarihi</th>
                    <th>İhale Numarası/İhaleTarih</th>

                    <th>İlçe</th>
           
                    <th>Proje Kontrol Elemanı/İletişim</th>
                 
                    <th>Açıklama</th>
                    <th>Güncelle/Sil</th>


                </tr>
            </thead>
            <tbody>
                @foreach (var k in Model)
                {
                <tr>
                    <td><b>» @k.Company.CompanyName</b></td>




                    <td>@k.WorkName</td>
                    @*<td>@k.ProjectName</td>*@

                    <td>  @(((DateTime)k.LocationDate).ToString("dd-MMM-yyyy"))</td>
                    <td>  @(((DateTime)k.FınıshDate).ToString("dd-MMM-yyyy"))</td>
                    <td>@k.IhaleNo  / @(((DateTime)k.IhaleDate).ToString("dd-MMM-yyyy"))</td>

              
                    <td>@k.District</td>
                    <td>@k.ProjectPerson/@k.ProjectPersonPhone</td>
                 
                    <td>@k.Description</td>
                    @*<td>@k.date</td>*@


                    <td>
                        <a href="/Altyapı/EditAltyapı/@k.lowerId" class="badge btn-info" style="font-size: 15px;">Güncelle</a>
                        <a href="/Altyapı/DeleteAltyapı/@k.lowerId" class="badge btn-danger" style="font-size: 15px;" , new { onclick="return confirm('Silmek istiyor musunuz?')" }>Sil</a>
                    </td>




                </tr>}
            </tbody>
            <tfoot>
                <tr>
                    <th>Firma Adı</th>
                    <th>İşin Adı</th>
                    @*<th>Proje Adı</th>*@
                    <th>Yer Teslim Tarihi </th>

                    <th>Öngörülen Bitiş Tarihi</th>
                    <th>İhale Numarası/İhaleTarih</th>

                    <th>İlçe</th>

                    <th>Proje Kontrol Elemanı/İletişim</th>

                    <th>Açıklama</th>
                    <th>Güncelle/Sil</th>

                </tr>
            </tfoot>
        </table>
    </div>
    <!-- /.card-body -->
</div>

@await Component.InvokeAsync("VehicleList")




@*<button type="button" id="btngetlist" class="btn btn-outline-primary">CompanyListesi</button>
    <br />
    <br />
    <div id="btngetlist">Buraya Company gelir</div>*@


@*@section scripts{
        <script>
            $("#btngetlist").click(function () {

                $.ajax({

                    contentType: "application/json",
                    dataType: "json",
                    type: "Get",
                    url: "/Company/CompanyList/",
                    success: function (func) {
                        let w = JQuery.parseJSON(func);
                        console.log(w);
                        let tablehtml = "<table class=table table-bordered> <tr><th>Firma ID</th><th>Firma Adı</th></tr>";
                        $.each(w, (index, value) => {
                            tablehtml += `<tr><td>${value.CompanyId}</td><td>${value.CompanyName}</td></tr>`


                        });

                        tablehtml += "</table>";
                        $("#btngetlist").html(tablehtml);





                    }
                });




            });


        </script>


    }*@

